.footer {
    background: #280044;
    padding: 10px 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}

.footer-section {
    width: 100%;
    max-width: 250px;
    flex: 1;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 40px;
    height: auto;
}

.brand-name {
    font-size: 18px;
}

.footer-description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-link:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 6px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 18px;
}

.form-input {
    padding: 12px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
}

.form-submit {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background: #f38e1e;
    color: white;
    width: fit-content;
    cursor: pointer;
    font-size: 14px;
}

.form-submit:hover {
    background-color: #d57713;
}